

<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h2>Dep design & photography</h2>

        <%= image_tag "QO5A7309.jpg", height: 500 %>

 <p> Hi, We are Dep, international fine art wedding photographers</p>

 <ul>
   <li>We are locacte in Memphis and server around the world</li>
   <li>We are passionate in wedding photography</li>
   <li>We are honor to provide you with the best services</li>
 </ul>

 <p>
   A picture is worth a thousand words, but a true photograph is a moment forever captured in time. It’s a still image that tells a story of love, fear, wanting and need. I’ve always been a story teller, using the light and color seized through my camera lens. That still image is bond between myself and my subject, and with each snap of the shutter, that piece of glass fades away into a shared experience between us.
 </p>
    </body>


    <p>
   Find more about Dep  <%= link_to "here", "https://www.instagram.com/depweddingphotos/", target: "_blank" %> 
 </p>

  <p><%= link_to "About", about_path %></p>
</html>

